.header {
  padding: 1rem 4rem;
  background-color: $color--black-2;

  display: grid;
  grid-template-areas: "icon-home heading";
  grid-template-columns: max-content 1fr;
  align-items: center;

  //grid-template:
  //  "brand heading" max-content / max-content 1fr;

  &__icon-home {
    grid-area: icon-home;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    color: $color--white;
  }

  &__heading {
    grid-area: heading;
    font-size: 4rem;
    text-align: center;
  }
}